/*
 * Shared Colors
 */
$white: #ffffff;
$black: #000000;
$gray-dark-1: rgba(0, 0, 0, 0.87);
$gray-dark-4: rgba(0, 0, 0, 0.7);
$gray-light-2: rgba(0, 0, 0, 0.06);
$gray-light-3: #9e9e9e;
$gray-light-4: rgba(0, 0, 0, 0.11);
$warning-red: #f44336;
$green: rgb(102, 187, 106);
$success: #43a047;
$blue-2: rgb(0, 152, 201);

$blocker-red: rgb(232, 137, 118);
$warning-yellow: rgb(246, 193, 117);
$successfull-green: rgb(167, 220, 156);
$mat-tile-background: rgb(61, 73, 81);
$disable-text: #999999;
$enable-text: #ffffff;
$cancel-error: #d84315;
$assessment-overlay-bg: rgba(40, 53, 59, 1);

$home-border-color: #5e5d5b;
